/* Custom Styles */
body {
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif, serif;
}

h5, p{
    color: white;
    border-radius: 8px;
}

p{
    background-color: black;
}